* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body{
    background-color: #F9F9FA;
}


/* Cursos */
.cursos-body {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
    margin-top: 30px;
}
.curso{
    width: 25vw;
    border: 2px solid #A9A9A9;
    margin-left:5px;
    height: 30%;
}
.container-image > img {
    height: 100%;
    width: 100%;
    margin-bottom: 5%;
}
@media (max-height: 600px){
    .curso{
        width: 300px;
        background-color: #DCDCDC;
        border: 2px solid #c8c8c8;
        margin-left:5px;
        margin-right:5px;
        height: 30%;
    }  
} 
.container-body {
    grid-area: container-body;
    padding-top: 2vh;
    padding-left: 50px;
    padding-right: 50px;
}
.container-title{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
}
.container-autor{
    margin-left: 5%;
    margin-right: 5%;
}
.btn-submit{
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    font-size: 1.5rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #7186fd, #536DF0, #536DFE);
    cursor: pointer;
    color: #fff;
    background-size: 200%;
    transition: 0.05s;
}
.cursos-title{
    font-size: 20px;
    margin-top: 30px;
    margin-right: 30px;
    font-weight: bold;
    color: #051158;
    border-bottom: 1px solid #dcdacb;
}
.cursos{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 45px;
}
@media (max-width: 920px) {
    .nav-btn {
        display: none;
    }
    .curso{
        width: 100vw;
        margin-left:5px;
        margin-right:5px;
    }
    .cursos{
        margin-left: 0;   
        margin-right: 0;
    }
    .cursos-body{
        display: inline;
    }
}
